<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Generate protected links</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">#</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'add_link' %}">Dodaj link</a></li>
            <li class="active"><a href="{% url 'add_file' %}">Dodaj plik</a></li>
        </ul>

    </div>
</nav>
    <div style="margin-top:60px">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>